{
    "name": "Guttenbergovitz",
    "author": "guttenbergovitz",
    "themes": [
        {
            "name": "Guttenbergovitz",
            "appearance": "dark",
            "style": {
                "background": "{{base.bg}}",
                "syntax": {
                    "keyword": {
                        "color": "{{git.deleted}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "function": {
                        "color": "{{git.renamed}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "string": {
                        "color": "{{git.added}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "type": {
                        "color": "{{git.modified}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "punctuation": {
                        "color": "{{semantic.punctuation}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "operator": {
                        "color": "{{git.deleted}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "number": {
                        "color": "{{git.modified}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "comment": {
                        "color": "{{git.untracked}}",
                        "font_style": "italic",
                        "font_weight": null
                    },
                    "constructor": {
                        "color": "{{git.modified}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "variable": {
                        "color": "{{semantic.punctuation}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "tag": {
                        "color": "{{git.deleted}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "constant": {
                        "color": "{{git.modified}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "boolean": {
                        "color": "{{git.modified}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "property": {
                        "color": "{{semantic.punctuation}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "attribute": {
                        "color": "{{git.modified}}",
                        "font_style": null,
                        "font_weight": null
                    }
                },
                "border": "{{ui.whitespace}}",
                "error": "{{git.deleted}}",
                "hint": "{{git.added}}",
                "info": "{{git.renamed}}",
                "warning": "{{git.modified}}",
                "editor.line_number": "{{git.untracked}}",
                "editor.active_line_number": "{{semantic.punctuation}}",
                "editor.active_line.background": "{{ui.line_highlight}}",
                "editor.gutter.background": "{{base.bg}}",
                "tab.inactive_background": "{{base.bg_dark}}",
                "tab.active_background": "{{base.bg}}",
                "text": "{{semantic.punctuation}}",
                "editor.background": "{{base.bg}}",
                "title_bar.background": "{{base.bg_dark}}",
                "tab_bar.background": "{{base.bg_dark}}",
                "status_bar.background": "{{base.bg_dark}}",
                "search.match_background": "{{ui.whitespace}}",
                "panel.background": "{{base.bg_dark}}",
                "toolbar.background": "{{base.bg_dark}}",
                "terminal.background": "{{base.bg}}",
                "warning.background": "{{base.bg_dark}}db",
                "info.background": "{{base.bg_dark}}db",
                "hint.background": "{{base.bg_dark}}db",
                "error.background": "{{base.bg_dark}}db",
                "editor.highlighted_line.background": "{{ui.line_highlight}}"
            }
        },
        {
            "name": "Guttenbergovitz Light",
            "appearance": "light",
            "style": {
                "background": "{{base.bg}}",
                "syntax": {
                    "keyword": {
                        "color": "{{git.deleted}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "function": {
                        "color": "{{git.renamed}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "string": {
                        "color": "{{git.added}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "type": {
                        "color": "{{git.modified}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "punctuation": {
                        "color": "{{semantic.punctuation}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "operator": {
                        "color": "{{git.deleted}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "number": {
                        "color": "{{git.modified}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "comment": {
                        "color": "{{git.untracked}}",
                        "font_style": "italic",
                        "font_weight": null
                    },
                    "constructor": {
                        "color": "{{git.modified}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "variable": {
                        "color": "{{semantic.punctuation}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "tag": {
                        "color": "{{git.deleted}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "constant": {
                        "color": "{{git.modified}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "boolean": {
                        "color": "{{git.modified}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "property": {
                        "color": "{{semantic.punctuation}}",
                        "font_style": null,
                        "font_weight": null
                    },
                    "attribute": {
                        "color": "{{git.modified}}",
                        "font_style": null,
                        "font_weight": null
                    }
                },
                "border": "{{ui.whitespace}}",
                "error": "{{git.deleted}}",
                "hint": "{{git.added}}",
                "info": "{{status.info}}",
                "warning": "{{git.modified}}",
                "editor.line_number": "{{git.untracked}}",
                "editor.active_line_number": "{{semantic.punctuation}}",
                "editor.active_line.background": "{{ui.selection}}",
                "editor.gutter.background": "{{base.bg}}",
                "tab.inactive_background": "{{base.bg_dark}}",
                "tab.active_background": "{{base.bg}}",
                "text": "{{semantic.punctuation}}",
                "editor.background": "{{base.bg}}",
                "title_bar.background": "{{base.bg_dark}}",
                "tab_bar.background": "{{base.bg_dark}}",
                "status_bar.background": "{{base.bg_dark}}",
                "search.match_background": "{{ui.selection}}",
                "panel.background": "{{base.bg_dark}}",
                "toolbar.background": "{{base.bg_dark}}",
                "terminal.background": "{{base.bg}}",
                "warning.background": "{{base.bg_dark}}db",
                "info.background": "{{base.bg_dark}}db",
                "hint.background": "{{base.bg_dark}}db",
                "error.background": "{{base.bg_dark}}db",
                "editor.highlighted_line.background": "{{ui.selection}}"
            }
        }
    ]
}